[submodule "dependencies/stylix"]
	path = dependencies/stylix
	url = https://github.com/danth/stylix
[submodule "dependencies/home-manager"]
	path = dependencies/home-manager
	url = https://github.com/nix-community/home-manager
[submodule "dependencies/nixos-hardware"]
	path = dependencies/nixos-hardware
	url = https://github.com/NixOS/nixos-hardware
[submodule "dependencies/nixpkgs"]
	path = dependencies/nixpkgs
	url = https://github.com/NixOS/nixpkgs
